@()

<!doctype html>
<html lang="en">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <title>企信通</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" href="styles.db71fe89daac8530d3bf.css"></head>
    <body>
        <app-root></app-root>
        <script type="text/javascript" src="runtime.92514391ee727dcc176e.js"></script><script type="text/javascript" src="polyfills.eff531fb21781684beeb.js"></script><script type="text/javascript" src="scripts.b1d8e31d3db45509607c.js"></script><script type="text/javascript" src="main.8eaf2adb9c7c1c3d67cd.js"></script></body>
</html>
