@()

<!doctype html>
<html lang="en">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <title>企信通</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" href="styles.7fe31adf979da7b9abd7.css"></head>
    <body>
        <app-root></app-root>
        <script type="text/javascript" src="runtime.fe27221e9c774d669cfc.js"></script><script type="text/javascript" src="polyfills.d4e00c15fb94a863ec4c.js"></script><script type="text/javascript" src="scripts.b1d8e31d3db45509607c.js"></script><script type="text/javascript" src="main.d67000092c2f077244f3.js"></script></body>
</html>
